.address-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet) {
    justify-content: center;
    align-items: start;
  }

  @include for-size(desktop) {
    // display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: auto;
  }
}

.address-nav__link {
  display: flex;
  align-items: center;

  font-style: normal;
  color: $text-color-gray;
  @include font(18px, 1.17, 500);
  letter-spacing: 0.02em;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include for-size(tablet) {
    @include font(12px, 1.17, 500);
  }

  @include for-size(tablet-only) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include for-size(desktop) {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    color: $accent-link-color;
  }

  &:hover .address-nav__icon,
  &:focus .address-nav__icon {
    fill: $accent-link-color;
  }
}
.address-nav__icon {
  margin-right: 10px;
  fill: $text-color-gray;
  transition: fill $time $time-function;

  @include for-size(tablet-only) {
    & {
      margin-right: 8px;
    }
  }
}

/*Адреса в Футере*/

.location-address {
  margin-bottom: 8px;
  font-style: normal;
  @include font(14px, 1.71);
  color: #ffffff;

  @include for-size(desktop) {
    margin-bottom: 9px;
  }
}

.address-footer {
  display: flex;
  flex-direction: column;

  @include for-size(mobil + tablet) {
    margin-bottom: 60px;
  }
}

.address-footer__link {
  font-style: normal;
  @include font(14px, 1.71);
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-link-color;
  }

  &--mail {
    margin-bottom: 8px;

    @include for-size(desktop) {
      margin-bottom: 9px;
    }
  }
}
