/*Кнопка закрытия модалки*/

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $primary-color;
  transition: $time $time-function;

  &:hover {
    fill: $accent-link-color;
    transform: scale(1.1);
  }
}

/* Кнопка мобильного меню*/

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  transition: $time $time-function;

  &.is-open .icon-mobile-close {
    display: block;
  }

  &.is-open .icon-mobile-menu {
    display: none;
  }
  &:hover .icon-mobile-menu,
  &:focus .icon-mobile-menu,
  &:hover .icon-mobile-close,
  &:focus .icon-mobile-close {
    fill: $accent-link-color;
  }
  @include for-size(tablet) {
    display: none;
  }
}


.icon-mobile-close {
  display: none;
}



// .menu-button.is-open .icon-cross {
//   display: block;
// }

// .icon-mobile-close {
//   display: none;
// }

// .mobile-button.is-open .icon-mobile-menu {
//     display: none;
// }

// .mobile-button.is-open .icon-mobile-close {
//     display: blok;
// }

// .mobile-button .icon-mobile-close {
//   display: none;
// }

// .mobile-button.is-open .icon-mobile-close {
//     display: blok;
//   }
// .mobile-button.is-open .icon-mobile-menu {
//     display: none;
//   }
