.footer {
  background: $footer-background;
}

.footer-wraper {
  text-align: center;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @include for-size(desktop) {
    justify-content: space-between;
  }
}

.join-container {
  @include for-size(mobil + tablet) {
    margin-bottom: 60px;
  }
}

